---
title: Walkie Talkies
layout: default
---



  <!--
  <div class="d-flex bd-highlight">
    <div class="p-2 w-100 bd-highlight">Have an idea for a audio tour? <a href="">Get in touch</a></div>
  </div>
  -->

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>{{ page.title }}</h1>
        <h2>The best local audio tours by the best local community.</h2>

        <p class="lead">The best local audio tours by the best local community.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget tempus est. Integer hendrerit pretium leo at viverra. Curabitur tincidunt lectus felis, a vulputate massa elementum vel. Ut egestas, leo ut hendrerit ultricies, sem ante porta ligula, vel pellentesque nibh arcu quis quam. Sed vel ante nec lacus tincidunt malesuada. Nullam ante arcu, pulvinar eget lorem eget, consequat vestibulum lacus. Vivamus aliquam leo eu quam laoreet, a condimentum tellus pretium. Fusce nisi erat, euismod nec efficitur a, tincidunt at risus. Sed quis venenatis ligula. Vestibulum convallis nec massa eu tempor. Etiam tempus condimentum velit a lobortis. Morbi ut aliquet dolor.</p>

      </div>
    </div>
  </div>

  {% include category-cards.html %}

  {% include walkie-cards.html %}

  {% include area-cards.html %}

  <div class="container-fluid">
    <div class="row color-block">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1>Colour Block</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget tempus est. Integer hendrerit pretium leo at viverra. </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row color-block blue">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1>Colour Block</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget tempus est. Integer hendrerit pretium leo at viverra. </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row color-block coral">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1>Colour Block</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget tempus est. Integer hendrerit pretium leo at viverra. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
