<div class="scrollmenu area">

  <div class="card">
    <div class="card-body">
      <h5><a href="{{ site.baseurl }}/areas/forest-hill" class="stretched-link">Forest Hill</a></h5>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5><a href="{{ site.baseurl }}/areas/peckham" class="stretched-link">Peckham</a></h5>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5><a href="{{ site.baseurl }}/areas/honor-oak" class="stretched-link">Honor Oak</a></h5>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5><a href="{{ site.baseurl }}/areas/lewisham" class="stretched-link">Lewisham</a></h5>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5><a href="{{ site.baseurl }}/areas/southwark" class="stretched-link">Southwark</a></h5>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5><a href="{{ site.baseurl }}/areas/sydneham" class="stretched-link">Sydneham</a></h5>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5><a href="{{ site.baseurl }}/areas/brixton" class="stretched-link">Brixton</a></h5>
    </div>
  </div>

</div>
