
footer {
  background-color: purple;
  height: 500px;
}
.color-block {
  background-color: #ffb54d;
  height: 80vh;
}
.blue {
  background: #1e2337;
  color: white;
}
.coral {
  background: #ff8652;
}
::selection {
  background-color: rgba(255, 68, 68, 0.8);
  color: white;
}
