
footer {
  background-color: purple;
  height: 500px;
}
.color-block {
  background-color: #ffb54d;
  height: 80vh;
}
.blue {
  background: #1e2337;
  color: white;
}
.coral {
  background: #ff8652;
}
::selection {
  background-color: rgba(255, 68, 68, 0.8);
  color: white;
}
.profile {
  height: 40px;
  img {
    float: left;
    margin-right: 8px;
  }
  p {
    position: relative;
    top: 20%;
  }
}
.bd-highlight {
  background: white;
}
